 /* ===================================
   THEME ROOT VARIABLES
=================================== */
 :root {
   --primary-color: #1C1C1E;
   --secondary-color: #F5F5F7;

   --highlight-color: #333333;
   --background-color: #FFFFFF;
   --text-color: #333333;

 }

 /* ===================================
   RESET DE BASE
=================================== */
 html,
 body {
   margin: 0 0 10px;
   padding: 10px;
   overflow-x: hidden;
   font-family: 'Poppins', sans-serif;
   background-color: var(--background-color);
   color: var(--text-color);
 }





 /* -------------------
     NAVBAR 
 ----------------------*/
 header {
   background-color: #faf4ba;
 }

 .NavBar {
   margin: 0;
   padding: 1rem 2rem;
   display: flex;

   align-items: center;
   top: 0;
   border-bottom: 1px solid #b9b9b9;
   z-index: 10;
 }

 .navbar-text {}

 h3 {
   font-size: 1.5em;
   color: #175a1a;

   font-weight: 750;
   margin: 0;

 }

 .logo {
   height: 7rem;
   cursor: pointer;
   margin: 0;
   padding: 0;
 }

 .logo:hover {
   filter: drop-shadow(0 0 1em #646cff88);

 }


 .product-list {


   text-align: center;
 }

 .trip-list {
   display: flex;

   justify-content: center;
   flex-wrap: wrap;
   border: 1px solid #e0e0e0;
   margin: 70px 70px;
   border-radius: 12px;
   background-color: #ffffff;
   padding: 1.5rem;
   gap: 1rem;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
   transition: transform 0.2s eas
 }

 /* ===================================
     PRODUCT CARD BODY
  =================================== */
 .card-container {

   margin: 20px;
   border-radius: 12px;
   background-color: #fcfcfc;
   padding: 1.5rem;
   gap: 1rem;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);
   transition: transform 0.2s ease;
 }

 .card-container:hover {
   transform: scale(1.02);

 }

 #category-button {
   display: flex;
   justify-content: flex-end;

 }

 .image-card {
   flex: 1 1 150px;
   width: auto;
 }

 .image {
   width: 100%;
   border-radius: 8px;
   object-fit: cover;
   border: none;

 }

 .button-style {

   text-align: center;
   border: 1px solid #6e95ff;
   background-color: #6e95ff;
   margin: 10px;
   padding: 3px;
   border-radius: 12px;
   width: 80px;
   font-weight: 600;

   letter-spacing: 0.3px;
 }

 .price-button {
   display: flex;
   justify-content: flex-end;
   font-weight: 700;
   font-size: larger;
   letter-spacing: 0.3px;
 }


 .product-form {
   width: 100%;
   max-width: 500px;

   margin: 0 auto;

   display: flex;
   flex-direction: column;
   gap: 2rem;
   padding: 100px;
   background-color: #fdfdfd;
   border-radius: 12px;
   box-shadow: 0 4px 10px rgba(0, 0, 0, 0.08);

 }

 .product-form label {
   font-weight: 600;
   margin-bottom: 4px;
   display: block;
   font-size: 0.95rem;
 }

 .product-form input,
 .product-form textarea {
   padding: 10px;
   font-size: 1rem;
   border-radius: 8px;
   border: 1px solid #ccc;
   width: 100%;
   margin-bottom: 1.5rem;
   background-color: #fff;
 }

 .product-form textarea {
   min-height: 100px;
   resize: vertical;
 }

 a {
   font-weight: 500;
   color: var(--text-color);
   text-decoration: inherit;
 }

 a:hover {
   color: #005326;
 }


 h1 {
   font-size: 3.2em;
   line-height: 1.1;
 }

 button {
   border-radius: 8px;
   border: 1px solid transparent;
   padding: 0.6em 1.2em;
   font-size: 1em;
   font-weight: 500;
   font-family: inherit;
   background-color: #1a1a1a;
   cursor: pointer;
   transition: border-color 0.25s;
 }

 button:hover {
   border-color: #023812;
 }

 button:focus,
 button:focus-visible {
   outline: 4px auto -webkit-focus-ring-color;
 }

 @media (prefers-color-scheme: light) {
   :root {
     color: #213547;
     background-color: #ffffff;
   }

   a:hover {
     color: #00440b;
   }

   button {
     background-color: #f9f9f9;
   }
 }